*{
  box-sizing: border-box;
}

.navbar{
    background-color: rgba(4, 15, 1, 0.765);
}
.nav-item{
    color: blueviolet;
    font-family:monospace;
    font-size: larger;
}

.box {
    background-attachment: fixed;
    background-size: 100%;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    
    border: 3px solid #f1f1f1;
    border-radius: 30px;
    
    top: 10%;
    left: 30%;
    
    transform: translate(-50%, -10%);
    z-index: 2;
    width: 60%;
    padding: 40px;
    padding-left: 50px;
    margin-left: 550px;
    margin-top: 450px;
    text-align: center;
  }
  #pic{
    
    border:3px solid rgba(138, 105, 255, 0.226);
    border-radius: 200px;
    filter: blur(0px);
  }
  img{
    background-repeat: no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
    

    filter: blur(3px);
  }

.container{
    background-color: rgba(0, 255, 255, 0.03);
}
.carousel-item{
    height: 100vh;
    min-height: 300px;

}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing:  2px;
    margin-top: 25px;
}

